.display-board {
    width: 90%;
    background-color: rgb(85, 153, 128);
    padding: 5%;
    align-content: center;
}

.header-number {
    color: #ffffff;
    font-size: 30px;
}

.mrgnbtm {
    margin-top: 20px;
}

.center {
    position: relative;
    border: 3px solid green;
}
